
  
  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-white);
  }
  
  .page {
    width: 100%;
    height: 100%;
  }
  
  .container {
    margin: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  

  a:link,
  a:visited {
      text-decoration: none;
      color: #5f6368;
      font-size: 14px;
  }
  a:hover {
      text-decoration: underline;
  }
  

  .nav {
    text-align: right;
    width: 100%;
    padding: 15px;
    padding-right: 30px;
  }
  
  .navlist {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .navlistitem:not(:last-child) {
    margin-right: 15px;
  }
  
  .navlistitem--app {
    height: 30px;
    width: 30px;
    position: relative;
  }
  
  .navlistitem--app svg {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--color-gray-500);
  }
  
  .navlistitem--profile {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: relative;
  }
  
  .navlistitem--profile a {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url("img/melek.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  
 
  .main {
    text-align: center;
    margin-top: 30px;
    flex: 1;
  }
  .mainpage {
    padding-top: 109px;
  }
  
  .searchinput {
    margin-top: 30px;
    position: relative;
  }
  .mainform {
    max-width: 584px;
    margin: 0 auto;
  }
  .formgroup {
    position: relative;
    display: flex;
    align-items: center;
    height: 44px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 8px 0 16px;
  }
  .formgroup:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
  }
  .searchLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
  }
  .searchLogo svg {
    height: 20px;
    width: 20px;
    fill: var(--color-gray-400);
  }
  .inputSrch {
    height: 100%;
    flex: 1;
  }
  .inputSrch input {    
    width: 100%;
    height: 100%;
    font-size: 16px;
    margin-top: -3px;
    color: #101010;
  }
 /*.form__input input:focus {
    outline: none;
  }*/
  .micLogo {
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    margin-right: 7px;
  }
  .micLogo svg {
    height: 24px;
    width: 24px;
  }
  .mainsubmit {
      margin-top: 25px;
  }
  .mainsubmit button {
      background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
      background-color: #f2f2f2;
      border: 1px solid #f2f2f2;
      border-radius: 4px;
      color: #5F6368;
      font-family: Arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
  }
  .mainsubmit button:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
      background-color: #f8f8f8;
      border: 1px solid #c6c6c6;
      color: #222;
  }
  


  .footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      border-top: 1px solid #e4e4e4;
      background-color: #f2f2f2;
  }
  .footer div ul {
      list-style: none;
      display: flex;
  }
  .footer div ul li {
      padding-left: 27px;
  }
